<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Collecting Job Data Using APIs**

## Objectives

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: [https://www.kaggle.com/promptcloud/jobs-on-naukricom](https://www.kaggle.com/promptcloud/jobs-on-naukricom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01) under the under a **Public Domain license**.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

*   Los Angeles
*   New York
*   San Francisco
*   Washington DC
*   Seattle
*   Austin
*   Detroit

In [8]:
#Import required libraries
import pandas as pd
import json

#### Function to get the number of jobs for the Python technology.<br>
##### The keys in the json are

*   Job Title

*   Job Experience Required

*   Key Skills

*   Role Category

*   Location

*   Functional Area

*   Industry

*   Role

In [26]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    payload={"Key Skills": technology}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#         print(data)
        number_of_jobs = len(data)
    
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [27]:
get_number_of_jobs_T("Python")

('Python', 1173)

#### Function to find number of jobs in US for a location of choice

In [43]:
def get_number_of_jobs_L(location):
    payload={"Location":location}
    response=requests.get(api_url, params=payload)
    if response.ok:
        data=response.json()
#         print(data)
        number_of_jobs = len(data)
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [29]:
#your code goes here
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

### Store the results in an excel file

Calling the API for all the given technologies above and writing the results in an excel spreadsheet.

Creating a python list of all locations for which we need to find the number of jobs postings.

In [36]:
countries = ['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

Import libraries required to create excel spreadsheet

In [35]:
# your code goes here
from openpyxl import Workbook

Creating a workbook and selecting the active worksheet

In [37]:
# your code goes here
wb=Workbook()
ws=wb.active
ws.append(countries)

Finding the number of jobs postings for each of the location in the above list.
Writing the Location name and the number of jobs postings into the excel spreadsheet.

In [38]:
#your code goes here
def get_number_of_jobs_TL(technology, countries):
    number_of_jobs_list = []
    for location in countries:
        payload={"Key Skills": technology, "Location": location}
        response=requests.get(api_url, params=payload)
        if response.ok:
            data=response.json()
            number_of_jobs = len(data)
            number_of_jobs_list.append(number_of_jobs)
    return number_of_jobs_list
#     return ws.append(number_of_jobs_list)

get_number_of_jobs_TL("Python", countries)

[24, 143, 17, 258, 133, 15, 170]

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [39]:
#your code goes here
wb.save('job-postings.xlsx')

Collecting the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [40]:
# your code goes here
technologies = [' C ', ' C|', 'C#', 'c#', 'C++', 'c++', 'Java ', 'Java|', 'java|','java ', 'JAVA ', 'JAVA|', 'JavaScript', 'Javascript','javascript', 'Python', 'Scala', 'SCALA', 'scala', 'Oracle', 'oracle', \
                ' SQL Server', ' sql', ' SQL', '|sql', '|SQL', 'MySQL', 'mysql', 'Mysql','PostgreSQL', 'PostGreSQL','postgresql','MongoDB', 'mongodb', 'MongoDb']

def get_number_of_jobs_TL(technologies, countries):
    final_list = []
    for technology in technologies:
        number_of_jobs_list = [technology]
        for location in countries:
            payload={"Key Skills": technology, "Location": location}
            response=requests.get(api_url, params=payload)
            if response.ok:
                data=response.json()
                number_of_jobs = len(data)
                number_of_jobs_list.append(number_of_jobs)
#         print(number_of_jobs_list)
        final_list.append(number_of_jobs_list)
    return final_list

get_number_of_jobs_TL(technologies, countries)

[[' C ', 0, 0, 0, 1, 1, 0, 1],
 [' C|', 9, 68, 12, 111, 62, 18, 71],
 ['C#', 5, 41, 3, 68, 49, 5, 60],
 ['c#', 2, 21, 6, 40, 25, 4, 27],
 ['C++', 3, 43, 3, 55, 41, 4, 32],
 ['c++', 4, 24, 5, 37, 22, 4, 27],
 ['Java ', 5, 12, 2, 21, 17, 2, 11],
 ['Java|', 17, 121, 12, 209, 132, 9, 143],
 ['java|', 15, 55, 7, 83, 63, 5, 71],
 ['java ', 0, 3, 0, 7, 6, 1, 10],
 ['JAVA ', 0, 0, 0, 1, 0, 0, 0],
 ['JAVA|', 0, 4, 0, 7, 5, 0, 4],
 ['JavaScript', 7, 51, 7, 61, 52, 5, 41],
 ['Javascript', 26, 183, 22, 290, 192, 19, 189],
 ['javascript', 14, 52, 7, 76, 57, 5, 63],
 ['Python', 24, 143, 17, 258, 133, 15, 170],
 ['Scala', 0, 8, 0, 3, 4, 1, 5],
 ['SCALA', 0, 6, 1, 6, 7, 2, 13],
 ['scala', 1, 5, 0, 12, 1, 0, 7],
 ['Oracle', 17, 95, 19, 143, 110, 11, 115],
 ['oracle', 6, 18, 0, 21, 16, 2, 16],
 [' SQL Server', 2, 34, 2, 47, 26, 5, 28],
 [' sql', 14, 55, 7, 72, 45, 4, 46],
 [' SQL', 28, 214, 22, 333, 197, 30, 216],
 ['|sql', 0, 4, 0, 6, 1, 0, 3],
 ['|SQL', 1, 8, 1, 22, 9, 0, 16],
 ['MySQL', 20, 93, 20, 132, 97, 13, 93],
 ['mysql', 2, 25, 4, 29, 24, 4, 30],
 ['Mysql', 0, 0, 0, 0, 2, 0, 1],
 ['PostgreSQL', 0, 1, 0, 3, 1, 0, 2],
 ['PostGreSQL', 0, 0, 0, 0, 1, 0, 0],
 ['postgresql', 0, 1, 1, 3, 3, 0, 1],
 ['MongoDB', 2, 25, 2, 32, 21, 1, 25],
 ['mongodb', 2, 4, 0, 3, 3, 0, 5],
 ['MongoDb', 0, 1, 0, 1, 0, 0, 1]]

In [44]:
data = get_number_of_jobs_TL(technologies, countries)
#creating a dataframe to store the number of jobs in all technologies at all locations
df_data = pd.DataFrame(data, columns=['Technology', 'Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit'])
df_data

,Technology,Los Angeles,New York,San Francisco,Washington DC,Seattle,Austin,Detroit
0,C,0,0,0,1,1,0,1
1,C|,9,68,12,111,62,18,71
2,C#,5,41,3,68,49,5,60
3,c#,2,21,6,40,25,4,27
4,C++,3,43,3,55,41,4,32
5,c++,4,24,5,37,22,4,27
6,Java,5,12,2,21,17,2,11
7,Java|,17,121,12,209,132,9,143
8,java|,15,55,7,83,63,5,71
9,java,0,3,0,7,6,1,10
10,JAVA,0,0,0,1,0,0,0
11,JAVA|,0,4,0,7,5,0,4
12,JavaScript,7,51,7,61,52,5,41
13,Javascript,26,183,22,290,192,19,189
14,javascript,14,52,7,76,57,5,63
15,Python,24,143,17,258,133,15,170
16,Scala,0,8,0,3,4,1,5
17,SCALA,0,6,1,6,7,2,13
18,scala,1,5,0,12,1,0,7
19,Oracle,17,95,19,143,110,11,115
20,oracle,6,18,0,21,16,2,16
21,SQL Server,2,34,2,47,26,5,28
22,sql,14,55,7,72,45,4,46
23,SQL,28,214,22,333,197,30,216
24,|sql,0,4,0,6,1,0,3
25,|SQL,1,8,1,22,9,0,16
26,MySQL,20,93,20,132,97,13,93
27,mysql,2,25,4,29,24,4,30
28,Mysql,0,0,0,0,2,0,1
29,PostgreSQL,0,1,0,3,1,0,2
30,PostGreSQL,0,0,0,0,1,0,0
31,postgresql,0,1,1,3,3,0,1
32,MongoDB,2,25,2,32,21,1,25
33,mongodb,2,4,0,3,3,0,5
34,MongoDb,0,1,0,1,0,0,1

In [45]:
#writing to an excel file
file_name = "job-postings.xlsx"
df_data.to_excel(file_name)
print("Dataframe is written to Excel")

Dataframe is written to Excel

## Author

Shikhar Yadav